
.budgets {
    background-color: rgb(72, 98, 102);
    width: 90%;
    margin: 25px auto 0px;
    border-radius: 5px;
    box-shadow: 0.1px 12px 10px black;
    padding: 10px 50px;
   
  }
  .budgets .heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(190, 190, 190);
    height: 25px;
    box-sizing: content-box;
    padding: 5px 0px;
  }
  .budgets .heading div {
    margin: 0;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    width: 20%;
  }