.newForm {
  background-color: rgb(33, 102, 112);
  margin-left: 275px;
  margin-right: 275px;
  border-radius: 25px;
  box-shadow: 5px 12px 20px black;
  padding: 10px 50px;
  box-sizing: border-box;
  width: 700px;
  font-weight: bold;
  height: 75vh;
}

form {
  display: grid;
  gap: 25px;
}

.newForm-control input {
  width: auto;
  height: 35px;
  font-size: 25px;
  font-weight: 900;
  background-color: rgb(72, 97, 97);
}
.newForm-control select {
  width: auto;
  height: 35px;
  font-size: 25px;
  font-weight: 900;
  background-color: rgb(72, 97, 97);
}

form .form-submit {
  width: 200px;
  position: relative;
  top: 150px;
  height: 45px;
}

.form-nevermind {
  background-color: rgb(72, 97, 97);
  text-decoration: none;
  width: 150px;
  position: relative;
  top: 105px;
  height: 45px;
  font-size: 25px;
  font-weight: 600;
  margin-left: 450px;
}

/* Tablets and under */
@media (max-width: 768px) {
  .newForm-control {
    width: 450px;
    padding-left: 32px;
    padding-right: 0px;
    margin-left: 0;
    text-align: center;
  }

  form .form-submit {
    width: 200px;
    position: relative;
    top: 50px;
    height: 45px;
  }

  .form-nevermind {
    justify-content: left;
    position: relative;
    top: 12px;
  }

  div.newForm {
    margin-left: 32px;
    margin-right: 32px;
  }
}
