.navBar {
    background-color: rgb(2, 36, 60);
    height: 15vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navBar .budgetTitle {
    justify-content: center;
    align-content: center;
    font-size: 25px;
    align-self: center;
    height: 100%;
    align-content: center;
    display: flex;
  }
  
  .navBar .budgetTitle h1 {
    width: max-content;
    margin-left: 20px;
  }
  
  .navBar .new-transaction {
    width: 200px;
    height: 50px;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    align-self: center;
    box-sizing: border-box;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .navBar .new-transaction a {
    height: 100%; 
     width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    text-align: none;
    font-size: 20px;
    font-weight: bold;
    
  }
  
  .navBar a,
  .navBar a:visited,
  .navBar a:active,
  .navBar a:hover {
    text-decoration: none;
    color: white;
    margin: auto;
  }