
    .show-page {
        background-color: rgba(178, 224, 209, 0.676);
        height: 100vh;
        margin: 0;
        padding: 0px;
        overflow: auto;
      }


      /* Tablets and under */
@media (max-width: 768px) {
  
    .show-page {
      height: 100vh;
      width: 74.6vh;
    }

}